{
  "root": true,
  "extends": ["airbnb", "prettier"],
  "env": {
    "browser": true,
    "es6": true,
    "node": true,
    "mocha": true
  },
  "parserOptions": {
    "ecmaVersion": 8
  },
  "plugins": ["prettier"],
  "rules": {
    "prettier/prettier": ["error"],
    "linebreak-style": 0,
    "comma-dangle": 0,
    "no-console": 0
  }
}
